rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /posts/{imageName} { // Dopasowuje ścieżki w folderze "posts"
      allow read, write: if request.auth != null; // Zezwala na odczyt i zapis tylko dla zalogowanych użytkowników
    }
  }
}